.header-avatar {
  background-image: url('https://magazin-pixel.ru/themes/pxl/images/avatar-placeholder.png');
  background-size: cover;
}

.vac-card {
  width: 93%;
  margin: 5px auto;
}

.test1 {
  width: 100%;
  display: flex;
}

.button-editor {
  margin: auto;
}



