<mat-card class="panel-autorization">
  <mat-tab-group mat-stretch-tabs>

    <mat-tab label="Вход">

      <form class="registration-form">

        <p *ngIf="isRegistrationSuccess">
          <span>Пользователь успешно зарегистрирован! Войдите в систему!</span>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Логин</mat-label>
            <input matInput #login_auto placeholder="Введите логин" [formControl]="loginAutoControl" required>
            <mat-icon matSuffix>event_note</mat-icon>
            <mat-error *ngIf="loginAutoControl.hasError('required')">Пожалуйста, введите логин!</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput #password_auto placeholder="Придумайте пароль" [type]="'password'"
                   [formControl]="passwordAutoControl" required>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-error *ngIf="passwordAutoControl.hasError('required')">Пожалуйста, введите пароль!</mat-error>
          </mat-form-field>
        </p>

        <p *ngIf="isLoginFailed">
          <span>Неверный логин или пароль!</span>
        </p>

        <button class="test" mat-raised-button color="primary"
                (click)="loginEmployer(login_auto.value, password_auto.value)">Вход
        </button>
      </form>

    </mat-tab>

    <mat-tab label="Регистрация">

      <form class="registration-form">

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Логин</mat-label>
            <input matInput #login placeholder="Придумайте логин" [formControl]="loginControl" required minlength="6">
            <mat-icon matSuffix>event_note</mat-icon>
            <mat-error *ngIf="loginControl.hasError('required')">Логин обязателен для заполнения</mat-error>
            <mat-error *ngIf="loginControl.hasError('minlength')">Количество символов должно быть не менее 6</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput #email placeholder="Введите адрес электронной почты" [formControl]="mailControl" required>
            <mat-icon matSuffix>event_note</mat-icon>
            <mat-error *ngIf="mailControl.hasError('required')">Поле Email должно быть обязательно заполнено
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-radio-group #usertype [ngModel]="userType" name="userType" (change)="radioChange($event)">
            <mat-radio-button value="user"> Соискатель</mat-radio-button>
            <mat-radio-button value="company"> Компания</mat-radio-button>
          </mat-radio-group>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput #password placeholder="Придумайте пароль" [type]="hide ? 'password' : 'text'"
                   [formControl]="passwordControl" required minlength="6">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="passwordControl.hasError('required')">Пароль обязателен для заполнения</mat-error>
            <mat-error *ngIf="passwordControl.hasError('minlength')">Количество символов должно быть не менее 6
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Повторите пароль</mat-label>
            <input matInput #password2 placeholder="Повторите пароль" [type]="hide2 ? 'password' : 'text'"
                   [formControl]="password2Control" required>
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="password2Control.hasError('required')">Пароль обязателен для заполнения</mat-error>
            <mat-error *ngIf="password2.value.toString() != password2.value.toString()">Пароли не совпадают</mat-error>
          </mat-form-field>
        </p>

        <hr>


        <!-- User registration form -->


        <!-- Company registration form -->

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input matInput #name_emp placeholder="Введите название компании" [formControl]="companyNameControl"
                   required minlength="3" maxlength="50">
            <mat-icon matSuffix>event_note</mat-icon>
            <mat-error *ngIf="companyNameControl.hasError('required')">
              Название компании должно быть обязательно заполнено
            </mat-error>
            <mat-error *ngIf="companyNameControl.hasError('minlength')">
              Количество символов должно быть от 3 до 50 символов
            </mat-error>
            <mat-error *ngIf="companyNameControl.hasError('maxlength')">
              Количество символов должно быть от 3 до 50 символов
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-select #type_emp placeholder="Тип компании" [formControl]="companyTypeControl" required>
              <mat-option *ngFor="let type of $companyTypes" [value]=type>
                {{type}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="companyTypeControl.hasError('required')">
              Тип должен быть обязательно выбран
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-select #count_emp placeholder="Количество человек" [formControl]="companyCountControl" required>
              <mat-option *ngFor="let count of $companyCounts" [value]=count>
                {{count}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="companyCountControl.hasError('required')">
              Размер компании должен быть обязательно выбран
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Адрес</mat-label>
            <input matInput #address_emp placeholder="Введите адрес компании"
                   [formControl]="companyAddressControl" maxlength="250">
            <mat-icon matSuffix>map</mat-icon>
            <mat-error *ngIf="companyAddressControl.hasError('maxlength')">

            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Сайт</mat-label>
            <input matInput #site_emp placeholder="Введите адрес сайта"
                   [formControl]="companySiteControl" maxlength="250">
            <mat-icon matSuffix>language</mat-icon>
            <mat-error *ngIf="companySiteControl.hasError('maxlength')"></mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <textarea matInput #description_emp placeholder="Введите описание компании" maxlength="1000"></textarea>
            <mat-hint align="end">{{description_emp.value.length}} / 1000</mat-hint>
          </mat-form-field>
        </p>

        <p *ngIf="isRegistrationFailed">
          <span>Ошибка регистрации, обратитесь к администратору!</span>
        </p>

        <button class="test" mat-raised-button color="primary"
                (click)="registrationCompany(login.value, password.value, email.value, userType, name_emp.value,
                type_emp.value, count_emp.value, address_emp.value, site_emp.value, description_emp.value)">
          Регистрация
        </button>

      </form>

    </mat-tab>

  </mat-tab-group>
</mat-card>


