<div class="profile-page">
  <div class="left-profile-menu s4">

    <mat-toolbar>
      <mat-toolbar-row class="item-box" (click)=click_menu(1) style="cursor: hand;cursor: pointer;">
        <mat-icon class="icon-prefix">person</mat-icon>
        <span>Профиль</span>
        <span class="space"></span>
        <mat-icon>arrow_forward_ios</mat-icon>
      </mat-toolbar-row> <!-- user profile -->
      <mat-toolbar-row class="item-box" (click)=click_menu(2) style="cursor: hand;cursor: pointer;">
        <mat-icon class="icon-prefix">event_note</mat-icon>
        <span>Информация</span>
        <span class="space"></span>
        <mat-icon>arrow_forward_ios</mat-icon>
      </mat-toolbar-row> <!-- user information -->
      <mat-toolbar-row class="item-box" (click)=click_menu(3) style="cursor: hand;cursor: pointer;">
        <mat-icon class="icon-prefix">account_balance</mat-icon>
        <span>Образование</span>
        <span class="space"></span>
        <mat-icon>arrow_forward_ios</mat-icon>
      </mat-toolbar-row> <!-- user information -->
      <mat-toolbar-row class="item-box" (click)=click_menu(4) style="cursor: hand;cursor: pointer;">
        <mat-icon class="icon-prefix">business_center</mat-icon>
        <span>Опыт работы</span>
        <span class="space"></span>
        <mat-icon>arrow_forward_ios</mat-icon>
      </mat-toolbar-row> <!-- user information -->
      <mat-toolbar-row class="item-box" (click)=click_menu(5) style="cursor: hand;cursor: pointer;">
        <mat-icon class="icon-prefix">cast_for_education</mat-icon>
        <span>Навыки</span>
        <span class="space"></span>
        <mat-icon>arrow_forward_ios</mat-icon>
      </mat-toolbar-row> <!-- user information -->
      <mat-toolbar-row class="item-box" (click)=click_menu(6) style="cursor: hand;cursor: pointer;">
        <mat-icon class="icon-prefix">g_translate</mat-icon>
        <span>Языки</span>
        <span class="space"></span>
        <mat-icon>arrow_forward_ios</mat-icon>
      </mat-toolbar-row> <!-- user languages -->
      <mat-toolbar-row class="item-box" (click)=click_menu(7) style="cursor: hand;cursor: pointer;">
        <mat-icon class="icon-prefix">fitness_center</mat-icon>
        <span>Спорт</span>
        <span class="space"></span>
        <mat-icon>arrow_forward_ios</mat-icon>
      </mat-toolbar-row> <!-- user languages -->
      <mat-toolbar-row class="item-box" (click)=click_menu(8) style="cursor: hand;cursor: pointer;">
        <mat-icon class="icon-prefix">library_books</mat-icon>
        <span>Книги</span>
        <span class="space"></span>
        <mat-icon>arrow_forward_ios</mat-icon>
      </mat-toolbar-row> <!-- user languages -->
    </mat-toolbar>
  </div> <!-- Profile items menu -->

  <div class="right-profile-content">

    <div class="profile_page" *ngIf="pageProfile">

      <div class="profile-content-header">
        <h2 class="profile-content-title">Профиль</h2>
      </div> <!-- profile page header -->
      <hr class="hr-90">

      <div class="profile-content-body">
        Статус профиля: {{applicant.status}}

        <br/>
        <div class="flex-div">
          <div class="success-message" *ngIf="statusSuccessSwitch">
            Статус успешно изменен!
          </div> <!-- info success message -->
        </div> <!-- info success block -->

        <div class="button-editors">
          <button mat-flat-button class="button-editors-item" color="primary"
          (click)="switchStatus()">
            Изменить статус профиля
          </button>
          <button mat-flat-button class="button-editors-item" color="primary" (click)="openPDF()">
            Скачать резюме в PDF
          </button>
        </div>

        <br/>


      </div> <!-- profile page body -->


      <div class="profile-content-header">
        <h2 class="profile-content-title">Информация</h2>
      </div> <!-- information page header -->
      <hr class="hr-90">

      <div class="profile-content-body" name="info_applicant_form" #info_applicant_form>

        <br/>
        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input matInput name="info_first_name" #info_first_name placeholder="Введите имя"
                 [ngModel]="applicant.first_name" [disabled]="disableInfo.value" required>
          <mat-error>
            Имя должно быть обязательно заполнено
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input matInput name="info_last_name" #info_last_name placeholder="Введите фамилию"
                 [ngModel]="applicant.last_name" [disabled]="disableInfo.value" required>
          <mat-error>
            Фамилия должна быть обязательно заполнена
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Отчество</mat-label>
          <input matInput name="info_father_name" #info_father_name placeholder="Введите отчество"
                 [ngModel]="applicant.father_name" [disabled]="disableInfo.value" required>
        </mat-form-field>
        <mat-form-field>
          <mat-select #info_sex placeholder="Пол" [ngModel]="applicant.sex" [disabled]="disableInfo.value" required>
            <mat-option [value]=true> Мужской</mat-option>
            <mat-option [value]=false> Женский</mat-option>
          </mat-select>
          <mat-error>
            Пол должен быть обязательно выбран
          </mat-error>
        </mat-form-field> <!-- user sex -->
        <mat-form-field>
          <mat-label>Дата рождения</mat-label>
          <input matInput #info_date_of_birthday [matDatepicker]="picker" placeholder="Выберите дату"
                 [ngModel]="applicant.date_of_birth" [disabled]="disableInfo.value" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- user date of birthday -->

        <br/>
        <div class="flex-div" *ngIf="disableInfo.value">
          <button mat-flat-button class="button-editor" color="primary" (click)="disableInfo.setValue(false)">
            Редактировать
          </button>
        </div> <!-- edit user info -->
        <div class="flex-div" *ngIf="!disableInfo.value">
          <div class="button-editor">
            <button mat-flat-button color="primary" (click)="saveInfo(info_first_name.value, info_last_name.value,
            info_father_name.value, info_sex.value, info_date_of_birthday.value)">
              Сохранить
            </button>
            <button mat-stroked-button class="button-cancel" (click)="clearInfoUser()">
              Отмена
            </button> <!-- button clear -->
          </div>
        </div> <!-- buttons control form -->

      </div>


      <div class="profile-content-header">
        <h2 class="profile-content-title">Контакты</h2>
      </div> <!-- contacts page header -->
      <hr class="hr-90">

      <div class="profile-content-body">

        <table mat-table class="table-contacts" [dataSource]="contacts">

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef><h3>Тип</h3></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contact_type.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef><h3>Значение</h3></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.value}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="option">
            <mat-header-cell *matHeaderCellDef><h3>Опции</h3></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon style="cursor: hand;cursor: pointer;"
                        (click)="openDeleteContactDialog(element.id)">
                clear
              </mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsForContact"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsForContact;"></mat-row>

        </table>

        <div class="flex-div" *ngIf="disableAddContact.value">
          <button mat-flat-button class="button-editor" color="primary" (click)="disableAddContact.setValue(false)">
            Добавить контакт
          </button>
        </div> <!-- sport add button -->

        <form name="create-contact" *ngIf="!disableAddContact.value">

          <mat-form-field>
            <mat-select #contact_type placeholder="Тип контакта" [formControl]="contactTypeControl" required>
              <mat-option *ngFor="let type of contacttypes$" [value]=type.name>
                {{type.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contactTypeControl.hasError('required')">Поле обязательно для заполнения
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Значение</mat-label>
            <input matInput #contact_value placeholder="Введите значение" [formControl]="contactValueControl"
                   required>
            <mat-icon matSuffix>event_note</mat-icon>
            <mat-error *ngIf="contactValueControl.hasError('required')">
              Поле обязательно для заполнения
            </mat-error>
          </mat-form-field>

          <br/>
          <div class="flex-div">
            <div class="button-editor">
              <button mat-flat-button color="primary" (click)="saveContact(contact_type.value, contact_value.value)">
                Сохранить
              </button>
              <button mat-stroked-button class="button-cancel" (click)="clearContacts()">
                Отмена
              </button> <!-- button clear -->
            </div>
          </div> <!-- buttons control form -->

        </form>

      </div> <!-- contacts page body -->

    </div> <!-- user profile page -->
    <div class="information_page" *ngIf="pageInformation">
      <div class="profile-content-header">
        <h2 class="profile-content-title">Дополнительная информация</h2>
      </div> <!-- information page header -->
      <hr class="hr-90">

      <div class="profile-content-body" name="info_applicant_form" #info_applicant_form>

        <br/>
        <mat-form-field>
          <mat-select #information_rtm placeholder="Готов к переезду" [ngModel]="information.ready_to_move"
                      [value]="information.ready_to_move">
            <mat-option [value]=null> Не указывать</mat-option>
            <mat-option [value]=true> Готов</mat-option>
            <mat-option [value]=false> Не готов</mat-option>
          </mat-select>
        </mat-form-field> <!-- info about ready to move -->
        <mat-form-field>
          <mat-select #information_rtrw placeholder="Готов к удаленной работе"
                      [ngModel]="information.ready_for_remove_work"
                      [value]="information.ready_for_remove_work">
            <mat-option [value]=null> Не указывать</mat-option>
            <mat-option [value]=true> Готов</mat-option>
            <mat-option [value]=false> Не готов</mat-option>
          </mat-select>
        </mat-form-field> <!-- info about ready to remove work -->
        <mat-form-field>
          <mat-label>Город</mat-label>
          <input matInput name="information_city" #information_city placeholder="Введите название города"
                 [ngModel]="information.city" [value]="information.city">
        </mat-form-field> <!-- info about city -->
        <mat-form-field>
          <mat-label>Гражданство</mat-label>
          <input matInput name="information_citizenship" #information_citizenship placeholder="Введите гражданство"
                 [ngModel]="information.citizenship" [value]="information.citizenship">
        </mat-form-field> <!-- info about citizenship -->
        <mat-form-field>
          <mat-select #information_family_status placeholder="Семейное положение" [ngModel]="information.family_status"
                      [value]="information.family_status">
            <mat-option [value]=null> Не указывать</mat-option>
            <mat-option *ngFor="let status of familyStatus$" [value]=status>
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field> <!-- info about family status -->
        <mat-form-field>
          <mat-select #information_children placeholder="Наличие детей" [ngModel]="information.children"
                      [value]="information.children">
            <mat-option [value]=null> Не указывать</mat-option>
            <mat-option [value]=true> Есть дети</mat-option>
            <mat-option [value]=false> Нет детей</mat-option>
          </mat-select>
        </mat-form-field> <!-- info about children -->
        <mat-form-field>
          <mat-label>Информация о вас</mat-label>
          <textarea mat-autosize name="information_about_me" matInput #information_about_me
                    [value]="information.about_me"
                    placeholder="Опишите информацию о себе" [ngModel]="information.about_me"
                    maxlength="1000"></textarea>
        </mat-form-field> <!-- info about about me -->
        <mat-form-field>
          <mat-label>Ваши хобби</mat-label>
          <textarea mat-autosize name="information_hobby" matInput #information_hobby [value]="information.hobby"
                    placeholder="Опишите свое хобби" [ngModel]="information.hobby" maxlength="1000"></textarea>
        </mat-form-field> <!-- info about hobby -->
        <mat-form-field>
          <mat-label>Желаемая зарплата</mat-label>
          <input matInput type="number" #information_salary [ngModel]="information.salary" [value]="information.salary"
                 [ngModelOptions]="{standalone: true}" placeholder="Укажите желаемую зарплату" min="0">
        </mat-form-field> <!-- info about salary -->
        <mat-form-field>
          <mat-label>Академическое звание</mat-label>
          <input matInput name="information_academic_degree" #information_academic_degree
                 placeholder="Академическое звание"
                 [ngModel]="information.academic_degree" [value]="information.academic_degree">
        </mat-form-field> <!-- info about academic_degree -->

        <br/>
        <div class="flex-div">
          <div class="success-message" *ngIf="informationSuccessSave">
            Информация успешно обновлена!
          </div> <!-- info success message -->
        </div> <!-- info success block -->

        <br/>
        <div class="flex-div">
          <button mat-flat-button class="button-editor" color="primary"
                  (click)="saveInformation(information_rtm.value, information_rtrw.value, information_city.value,
            information_citizenship.value, information_family_status.value, information_children.value,
            information_about_me.value, information_hobby.value, information_salary.value,
            information_academic_degree.value)">
            Сохранить изменения
          </button>
        </div> <!-- edit user information -->

      </div>
    </div> <!-- user information page -->
    <div class="education_page" *ngIf="pageEducation">

      <div class="profile-content-header">
        <h2 class="profile-content-title">Образование</h2>
      </div> <!-- experience page header -->
      <hr class="hr-90">

      <div class="profile-content-body">

        <div class="educations-list">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let educ of educations"
                                 [expanded]="pointEducation === educ.id"
                                 (opened)="setPointEducation(educ.id)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div> {{educ.educational_institution}}</div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="profile-content-header">
                <h3 class="profile-content-title">Информация</h3>
              </div>

              <br/>Образовательное учреждение: {{educ.educational_institution}}
              <br/>Факультет: {{educ.faculty}}
              <br/>Специализация: {{educ.specialization}}
              <br/>Начало учебы: {{educ.date_start}}
              <br/>Окончание учебы: {{educ.date_end}}
              <br/>Уровень образования: {{educ.level_education}}
              <br/>Форма обучения: {{educ.form_training}}

              <div class="button-editors">
                <button mat-stroked-button class="button-editors-item" color="primary"
                        (click)="openEditEducationDialog(educ)">
                  Изменить
                </button>
                <button mat-stroked-button class="button-editors-item" color="warn"
                        (click)="openDeleteEducationDialog(educ.id)">
                  Удалить
                </button>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="flex-div">
          <button mat-flat-button class="button-editor" color="primary" *ngIf="disableAddEducation.value"
                  (click)="disableAddEducation.setValue(false)">
            Добавить место учебы
          </button>
        </div> <!-- experience add button -->
      </div>

      <form class="form-experience" *ngIf="!disableAddEducation.value">

        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Название учебного заведения</mat-label>
          <input matInput name="educ_institution" #educ_institution placeholder="Введите название учебного заведения"
                 [(ngModel)]="education.educational_institution" [formControl]="educationInstitutionControl" required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="educationInstitutionControl.hasError('required')">
            Название учебного заведения должно быть обязательно заполнено
          </mat-error>
        </mat-form-field> <!-- input -->
        <mat-form-field appearance="outline">
          <mat-label>Факультет</mat-label>
          <input matInput name="educ_faculty" #educ_faculty placeholder="Введите названия факультета"
                 [(ngModel)]="education.faculty" [formControl]="educationFacultyControl" required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="educationFacultyControl.hasError('required')">
            Поле должно быть обязательно заполнена
          </mat-error>
        </mat-form-field> <!-- input -->
        <mat-form-field appearance="outline">
          <mat-label>Специализация</mat-label>
          <input matInput name="educ_specialization" #educ_specialization placeholder="Введите названия специализации"
                 [(ngModel)]="education.specialization" [formControl]="educationSpecializationControl" required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="educationSpecializationControl.hasError('required')">
            Поле должно быть обязательно заполнено
          </mat-error>
        </mat-form-field> <!-- input -->
        <mat-form-field>
          <mat-label>Дата начала обучения</mat-label>
          <input matInput #educ_date_start [matDatepicker]="picker" placeholder="Выберите дату"
                 [(ngModel)]="education.date_start" [formControl]="educationDateStartControl" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="educationDateStartControl.hasError('required')">
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- input date start -->
        <mat-form-field>
          <mat-label>Дата окончания обучения</mat-label>
          <input matInput #educ_date_end name="educ_date_end" [matDatepicker]="picker2"
                 [(ngModel)]="education.date_end" placeholder="Выберите дату">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field> <!-- input date end -->
        <mat-form-field>
          <mat-select #educ_level placeholder="Уровень образования" [(ngModel)]="education.level_education"
                      [(formControl)]="educationLevelControl" required>
            <mat-option *ngFor="let educ of educations$" [value]="educ">
              {{educ}}
            </mat-option>
          </mat-select>
        </mat-form-field> <!-- select education level -->
        <mat-form-field>
          <mat-select #educ_form name="educ_form" placeholder="Форма обучения" [(ngModel)]="education.form_training"
                      [formControl]="educationFormTrainingControl" required>
            <mat-option *ngFor="let form of formstraining$" [value]=form>
              {{form}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="educationFormTrainingControl.hasError('required')">
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- select -->

        <br/>
        <div class="flex-div">
          <div class="button-editor">
            <button mat-flat-button color="primary" (click)="saveEducation(educ_institution.value, educ_faculty.value,
            educ_specialization.value, educ_date_start.value, educ_date_end.value, educ_level.value, educ_form.value)">
              Сохранить
            </button>
            <button mat-stroked-button class="button-cancel" (click)="clearEducation()">
              Отмена
            </button> <!-- button clear -->
          </div>
        </div> <!-- buttons control form -->
      </form> <!-- experience form -->

    </div> <!-- user education page -->
    <div class="experience_page" *ngIf="pageExperience">

      <div class="profile-content-header">
        <h2 class="profile-content-title">Опыт работы</h2>
      </div> <!-- experience page header -->
      <hr class="hr-90">

      <div class="profile-content-body">

        <div class="experience-list">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let exp of experiences"
                                 [expanded]="pointExperience === exp.id"
                                 (opened)="setPointExperience(exp.id)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div> {{exp.company_name}}</div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="profile-content-header">
                <h3 class="profile-content-title">Информация</h3>
              </div>

              <br/>Компания: {{exp.company_name}}
              <br/>Должность: {{exp.position}}
              <br/>Начало работы: {{exp.date_start}}
              <br/>Окончание работы: {{exp.date_end}}
              <br/>Обязанности: {{exp.duties}}
              <br/>Достижения: {{exp.achievements}}

              <div class="button-editors">
                <button mat-stroked-button class="button-editors-item" color="primary"
                        (click)="openEditExperienceDialog(exp)">
                  Изменить
                </button>
                <button mat-stroked-button class="button-editors-item" color="warn"
                        (click)="openDeleteExperienceDialog(exp.id)">
                  Удалить
                </button>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="flex-div">
          <button mat-flat-button class="button-editor" color="primary" *ngIf="disableAddExperience.value"
                  (click)="disableAddExperience.setValue(false)">
            Добавить место работы
          </button>
        </div> <!-- experience add button -->

      </div> <!-- experience page body -->

      <form class="form-experience" *ngIf="!disableAddExperience.value">

        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Название компании</mat-label>
          <input matInput name="exp_company_name" #exp_company_name placeholder="Введите название компании"
                 [ngModel]="experience.company_name" [formControl]="experienceCompanyNameControl" required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="experienceCompanyNameControl.hasError('required')">
            Название компании должно быть обязательно заполнено
          </mat-error>
        </mat-form-field> <!-- input company name -->
        <mat-form-field appearance="outline">
          <mat-label>Позиция</mat-label>
          <input matInput name="exp_position" #exp_position placeholder="Введите позицию"
                 [ngModel]="experience.position" [formControl]="experiencePositionControl" required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="experiencePositionControl.hasError('required')">
            Позиция должна быть обязательно заполнена
          </mat-error>
        </mat-form-field> <!-- input position -->
        <mat-form-field>
          <mat-label>Дата начала работы</mat-label>
          <input matInput #exp_date_start [matDatepicker]="picker" placeholder="Выберите дату"
                 [formControl]="experienceDateStartControl" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="experienceDateStartControl.hasError('required')">
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- input date start -->
        <mat-form-field>
          <mat-label>Дата окончания работы</mat-label>
          <input matInput #exp_date_end [matDatepicker]="picker2" placeholder="Выберите дату">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field> <!-- input date end -->
        <mat-form-field appearance="outline">
          <mat-label>Обязанности</mat-label>
          <textarea matInput #exp_duties placeholder="Опишите ваши обязанности" maxlength="1000"></textarea>
          <mat-hint align="end">{{exp_duties.value.length}} / 1000</mat-hint>
        </mat-form-field> <!-- input duties -->
        <mat-form-field appearance="outline">
          <mat-label>Достижения</mat-label>
          <textarea matInput #exp_achievements placeholder="Напишите о ваших достижениях" maxlength="1000"></textarea>
          <mat-hint align="end">{{exp_achievements.value.length}} / 1000</mat-hint>
        </mat-form-field> <!-- input achievements -->

        <br/>
        <div class="flex-div">
          <div class="button-editor">
            <button mat-flat-button color="primary" (click)="saveExperience(exp_company_name.value, exp_position.value,
            exp_date_start.value, exp_date_end.value, exp_duties.value, exp_achievements.value)">
              Сохранить
            </button>
            <button mat-stroked-button class="button-cancel" (click)="clearExperience()">
              Отмена
            </button> <!-- button clear -->
          </div>
        </div> <!-- buttons control form -->
      </form> <!-- experience form -->

    </div> <!-- user experience page -->
    <div class="specialization_page" *ngIf="pageSpecialization">
      <div class="profile-content-header">
        <h2 class="profile-content-title">Профессиональные навыки</h2>
      </div> <!-- specialization page header -->
      <hr class="hr-90">

      <div class="profile-content-body">

        <table mat-table class="table-specializations" [dataSource]="specializations">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef><h3>Навык</h3></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.field_of_activity.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="skill">
            <mat-header-cell *matHeaderCellDef><h3>Описание</h3></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.specialization}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef><h3>Опции</h3></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon style="cursor: hand;cursor: pointer;" (click)=openDeleteSpecializationDialog(element.id)>
                clear
              </mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsForSpecializations"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsForSpecializations;"></mat-row>
        </table> <!-- sports table -->

        <div class="flex-div">
          <button mat-flat-button class="button-editor" color="primary" *ngIf="disableAddSpecialization.value"
                  (click)="disableAddSpecialization.setValue(false)">
            Добавить профессиональный навык
          </button>
        </div> <!-- sport add button -->

      </div> <!-- sport page body -->

      <form class="form-sport" *ngIf="!disableAddSpecialization.value">

        <br/>
        <mat-form-field>
          <mat-select #specialization_type placeholder="Сфера деятельности" [formControl]="specializationFieldControl"
                      required>
            <mat-option *ngFor="let type of fieldsOfActivities$" [value]=type.id>
              {{type.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="specializationFieldControl.hasError('required')">
            Поле обязательно для заполнения.
          </mat-error>
        </mat-form-field> <!-- select field name -->
        <mat-form-field appearance="outline">
          <mat-label>Описание</mat-label>
          <input matInput #specialization_value placeholder="Введите значение"
                 [formControl]="specializationDescriptionControl"
                 required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="specializationDescriptionControl.hasError('required')">
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- input description skill -->

        <br/>
        <div class="flex-div">
          <div class="button-editor">
            <button mat-flat-button color="primary"
                    (click)="saveSpecialization(specialization_type.value, specialization_value.value)">
              Сохранить
            </button>
            <button mat-stroked-button class="button-cancel" (click)="clearSpecialization()">
              Отмена
            </button> <!-- button clear -->
          </div>
        </div> <!-- buttons control form -->
      </form> <!-- sport form -->
    </div> <!-- user specialization page -->
    <div class="language_page" *ngIf="pageLanguage">

      <div class="profile-content-header">
        <h2 class="profile-content-title">Знание языков</h2>
      </div> <!-- language page header -->
      <hr class="hr-90">

      <div class="profile-content-body">

        <table mat-table class="table-languages" [dataSource]="languageSkills">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef><h3>Язык</h3></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.language.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="skill">
            <mat-header-cell *matHeaderCellDef><h3>Уровень</h3></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ownership_level}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef><h3>Опции</h3></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon style="cursor: hand;cursor: pointer;" (click)=openDeleteLanguageSkillDialog(element.id)>
                clear
              </mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsForLanguages"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsForLanguages;"></mat-row>
        </table> <!-- language table -->

        <div class="flex-div">
          <button mat-flat-button class="button-editor" color="primary" *ngIf="disableAddLanguageSkill.value"
                  (click)="disableAddLanguageSkill.setValue(false)">
            Добавить язык
          </button>
        </div> <!-- language add button -->

      </div> <!-- language page body -->

      <form class="form-language" *ngIf="!disableAddLanguageSkill.value">

        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Язык</mat-label>
          <input matInput #language_name placeholder="Выберите язык" [formControl]="languageNameControl" type="text"
                 [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
              {{language.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="languageNameControl.hasError('required')">
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- input language name -->
        <mat-form-field appearance="outline">
          <mat-label>Уровень знаний</mat-label>
          <input matInput #language_skill placeholder="Опишите ваш уровень" [formControl]="languageSkillControl"
                 required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="languageSkillControl.hasError('required')">
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- input language skill -->

        <div class="mat-error" *ngIf="!disableErrorLanguageName.value">
          Извените, но вашего языка нет в нашей базе :(
        </div>
        <br/>
        <div class="flex-div">
          <div class="button-editor">
            <button mat-flat-button color="primary"
                    (click)="saveLanguageSkill(language_name.value, language_skill.value)">
              Сохранить
            </button>
            <button mat-stroked-button class="button-cancel" (click)="clearLanguageSkill()">
              Отмена
            </button> <!-- button clear -->
          </div>
        </div> <!-- buttons control form -->
      </form> <!-- language form -->

    </div> <!-- user languages page -->
    <div class="sport_page" *ngIf="pageSports">
    <div class="profile-content-header">
      <h2 class="profile-content-title">Спортивные навыки</h2>
    </div> <!-- sport page header -->
    <hr class="hr-90">

    <div class="profile-content-body">

      <table mat-table class="table-sports" [dataSource]="sportSkills">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef><h3>Вид спорта</h3></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.sport.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="skill">
          <mat-header-cell *matHeaderCellDef><h3>Уровень мастерства</h3></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ownership_level}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="icon">
          <mat-header-cell *matHeaderCellDef><h3>Опции</h3></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon style="cursor: hand;cursor: pointer;" (click)=openDeleteSportSkillDialog(element.id)>
              clear
            </mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsForSports"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsForSports;"></mat-row>
      </table> <!-- sports table -->

      <div class="flex-div">
        <button mat-flat-button class="button-editor" color="primary" *ngIf="disableAddSportSkill.value"
                (click)="disableAddSportSkill.setValue(false)">
          Добавить спортивный навык
        </button>
      </div> <!-- sport add button -->

    </div> <!-- sport page body -->

    <form class="form-sport" *ngIf="!disableAddSportSkill.value">

      <br/>
      <mat-form-field>
        <mat-select #sport_name name="sport_name" placeholder="Вид спорта" [formControl]="sportNameControl" required>
          <mat-option *ngFor="let sport of sports$" [value]=sport.name>
            {{sport.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="sportNameControl.hasError('required')">
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field> <!-- select sport name -->
      <mat-form-field appearance="outline">
        <mat-label>Уровень мастерства</mat-label>
        <input matInput #sport_skill placeholder="Опишите ваш уровень" [formControl]="sportSkillControl" required>
        <mat-icon matSuffix>event_note</mat-icon>
        <mat-error *ngIf="sportSkillControl.hasError('required')">
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field> <!-- input sport skill -->

      <br/>
      <div class="flex-div">
        <div class="button-editor">
          <button mat-flat-button color="primary" (click)="saveSportSkill(sport_name.value, sport_skill.value)">
            Сохранить
          </button>
          <button mat-stroked-button class="button-cancel" (click)="clearSportSkill()">
            Отмена
          </button> <!-- button clear -->
        </div>
      </div> <!-- buttons control form -->
    </form> <!-- sport form -->
  </div> <!-- user sport page -->
    <div class="book_page" *ngIf="pageBooks">
      <div class="profile-content-header">
        <h2 class="profile-content-title">Прочитанные книги</h2>
      </div> <!-- sport page header -->
      <hr class="hr-90">

      <div class="profile-content-body">

        <table mat-table class="table-sports" [dataSource]="books">

          <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef><h3>Автор</h3></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.author}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef><h3>Название</h3></mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef><h3>Опции</h3></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon style="cursor: hand;cursor: pointer;" (click)=openDeleteBookDialog(element.id)>
                clear
              </mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsForBooks"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsForBooks;"></mat-row>
        </table> <!-- books table -->

        <div class="flex-div">
          <button mat-flat-button class="button-editor" color="primary" *ngIf="disableAddBook.value"
                  (click)="disableAddBook.setValue(false)">
            Добавить книгу
          </button>
        </div> <!-- sport add button -->

      </div> <!-- sport page body -->

      <form class="form-sport" *ngIf="!disableAddBook.value">

        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Автор</mat-label>
          <input matInput #book_author placeholder="Автор книги" [formControl]="bookAuthorControl" required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="bookAuthorControl.hasError('required')">
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- book author -->
        <mat-form-field appearance="outline">
          <mat-label>Название</mat-label>
          <input matInput #book_name placeholder="Название книги" [formControl]="bookNameControl" required>
          <mat-icon matSuffix>event_note</mat-icon>
          <mat-error *ngIf="bookNameControl.hasError('required')">
            Поле обязательно для заполнения
          </mat-error>
        </mat-form-field> <!-- book name skill -->

        <br/>
        <div class="flex-div">
          <div class="button-editor">
            <button mat-flat-button color="primary" (click)="saveBook(book_author.value, book_name.value)">
              Сохранить
            </button>
            <button mat-stroked-button class="button-cancel" (click)="clearBooks()">
              Отмена
            </button> <!-- button clear -->
          </div>
        </div> <!-- buttons control form -->
      </form> <!-- sport form -->
    </div> <!-- user sport page -->
  </div> <!-- Profile content -->
</div>
