 <mat-toolbar class="example-container" color="primary" role="toolbar">
    <mat-toolbar-row>
      <span> <a mat-button routerLink="">Главная</a></span>
      <span class="example-spacer"></span>

      <button *ngIf="authority === 'COMPANY'" mat-flat-button class="my_profile" color="accent" routerLink="/company_profile">{{username}}</button>
      <button *ngIf="!authority" mat-flat-button color="accent" routerLink="/autorization">Авторизоваться</button>
      <button *ngIf="authority" mat-flat-button color="accent" (click)="logOut()">Выход</button>

    </mat-toolbar-row>
  </mat-toolbar>
