.profile-page {
  width: 100%;
  margin: 0;
  display: table;
}

.left-profile-menu {
  display: table-cell;
  width: 30%;
}

.right-profile-content {
  display: table-cell;
  width: 70%;
}

.space {
  flex: 1 1 auto;
}

.item-box:hover{
  background: #c1c1c1;
}

.info_page {

}

.icon-prefix {
  margin-right: 10px;
}

.profile-content {
  display: table;
  width: 100%;
}

.profile-content-header {
  display: flex;
  width: 100%;
}

.profile-content-title {
  margin: auto;
}

.profile-content-body {

}

mat-form-field {
  width: 60%;
  margin-left: 20%;
}

.hr-90 {
  width: 90%;
  margin-left: 5%;
}

.button-editor {
  margin: auto;
}

.button-cancel {
  margin-left: 10px;
}

.test1 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
}

.table-offices {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.table-vacancies {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.table-contacts {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.table-events {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.createContact{
  width: 100%;
  border: black 1px;
}

a {color: rgba(0,0,0,.87);}      /* unvisited link */
a:visited {color: rgba(0,0,0,.87);}  /* visited link */
a:hover {color: rgba(0,0,0,.87);}  /* mouse over link */
a:active {color: rgba(0,0,0,.87);}  /* selected link */

.delete-dialog {
  display: flex;
  width: 100%;
}

.delete-dialog-content {
  text-align: center;
}

.reg-office-form {
  width: 100%;
}




mat-row.example-detail-row {
  height: 0;
}

mat-row.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

mat-row.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


.button-editors-item {
  margin-left: 10px;
}

mat-panel-title {
  width: 35%;
}
